# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Broken Link Check

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Clone repository
#      run: git clone --single-branch --branch gh-pages https://github.com/mitm001/jme-wiki.git
      run: git clone --single-branch --branch gh-pages https://github.com/jMonkeyEngine/wiki.git

    # This will check external links only.
    # https://github.com/marketplace/actions/link-checker?version=v1.2.2
    - name: Link Checker
      uses: peter-evans/link-checker@v1
      with:
        args: -v -r -c 32 *

    # Antora sets a class on the href of "page unresolved" when a bad xref is
    # used. This line will search for those classes and write out.txt file.
    - name: Grep for broken links classes
      run: grep -n -r "class=\"page unresolved\"" *.html >> ../../link-checker/out.txt
      working-directory: ./wiki/docs

    # https://github.com/marketplace/actions/add-commit?version=v4.1.0
    # for use options.
    - name: Commit Packages
      uses: EndBug/add-and-commit@v4
      with:
        author_name: mitm001
        author_email: mitm001@users.noreply.github.com
        message: "Commit files for CI workflow"
        # Commits these files to root if and only if there are changes.
        add: "link-checker/out.md link-checker/out.txt"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
