# This action will check for broken links in the supplied repository branch
# (gh-pages). The link-checker action can be configured to execute on a schedule
# and/or open an issue when a problem is found.
#
# We write an LINKCHECKER_OUTPUT_FILENAME file to the LINKCHECKER_OUTPUT_DIR.
# This file can be searched for "ERROR", or in the case of images and files,
# "no such file or directory". This info can be used to search in the supplied
# repository for the broken link. It is not able to verify relative links beyond
# the case that the target page exists.
#
# Antora will set a class="page unresolved" in the HREF attribute for any
# relative link that is not valid so we use the grep command to check for this
# class, and if found, write out the line to file using the environment variable
# OUTPUT_FILE. This line can then be used to locate the broken link in the
# supplied repository.
#
# The Antora UI inserts links into the header of every page, one for editing a
# page and one for navigating to the wiki repository. We use a regex to filter
# out these as they tend to trigger "Too Many Requests (HTTP error 429)".
name: Broken Link Check
env:
  LINKCHECKER_OUTPUT_DIR: ${{ github.workspace }}/checked-links
  LINKCHECKER_OUTPUT_FILENAME: out.md
  OUTPUT_FILE: out.txt

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
#        ref: link-checker
        # Number of commits to fetch. 0 indicates all history.
        fetch-depth: 1

    # We have to create the link checker output directory first or the github
    # runner will set ROOT as user if left to do what it wants.
    - name: Clone repository
      id: clone
      run: |
        mkdir -p ${{ env.LINKCHECKER_OUTPUT_DIR }}
        echo "::set-output name=repo_name::jme-wiki"
        git clone --single-branch --branch gh-pages https://github.com/mitm001/jme-wiki.git
#        echo "::set-output name=repo_name::wiki"
#        git clone --single-branch --branch gh-pages https://github.com/jMonkeyEngine/wiki.git

    # This will check external and image links but seems to miss relative links.
    # The -c 32 can be increased to speed up build times at the expense of
    # increasing Too Many Requests "HTTP error 429" errors.
    #
    # Options:
    #  -c, --concurrency <num-requests>  Set max number of concurrent HTTP requests. [default: 512]
    #  -d, --document-root <directory>  Set document root directory for absolute paths.
    #  -r, --recursive  Search Markdown and HTML files recursively
    #  -t, --timeout <timeout>  Set timeout for HTTP requests in seconds. Disabled by default.
    #  -x, --exclude <regex>  Regex of links to exclude from checking.
    #  -v, --verbose  Be verbose.
    #
    # For other action config options see:
    # https://github.com/marketplace/actions/link-checker?version=v1.2.2
    - name: Link checker
      uses: peter-evans/link-checker@v1
      with:
        args: -x ^.*((\/edit\/).*|(wiki))$ -v -r ${{ steps.clone.outputs.repo_name }}/docs -c 32

    # Antora sets a class on the href of "page unresolved" when a bad xref
    # (relative) link is used. This line will search for those classes and
    # write them to the OUTPUT_FILE.
    #
    # -c == count
    # -n == line number
    # -r == recursive
    - name: Grep broken link classes
      run: |
        grep -cnr --include="*.html" "page unresolved" > \
        ${{ env.LINKCHECKER_OUTPUT_DIR }}/${{ env.OUTPUT_FILE }} \
        || echo "No broken links found." > \
        ${{ env.LINKCHECKER_OUTPUT_DIR }}/${{ env.OUTPUT_FILE }}
      working-directory: ./${{ steps.clone.outputs.repo_name }}/docs

    # for use options.
    # https://github.com/marketplace/actions/add-commit?version=v4.1.0
    - name: Commit Packages
      uses: EndBug/add-and-commit@v4
      with:
        author_name: mitm001
        author_email: mitm001@users.noreply.github.com
        message: "Commit files for CI workflow"
        # Commits these files to root if and only if there are changes.
        add: "${{ env.LINKCHECKER_OUTPUT_DIR }}/${{ env.LINKCHECKER_OUTPUT_FILENAME }}
          ${{ env.LINKCHECKER_OUTPUT_DIR }}/${{ env.OUTPUT_FILE}}"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
